html,
body {
  font-family: Raleway;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  opacity: 0.5;
}

nav ul li {
  margin-bottom: 15px;
  display: inline-block;
  margin: 55px;
  margin-top: 25px;
}


#welcome-section {
  top: 0;
  min-height: 55vh;
  padding-top: 45vh;
  background: black;
}

nav ul {
  text-align: left;
  position: fixed;
  
}

nav ul li a {
  text-decoration: none;
}

a {
  color: #fff;
  opacity: 0.5;
}


#projects h2 {
  margin-top: 50px;
  color: #008080;
  font-weight: normal;
}

#projects {
  position: relative;
  top:200px;
}

#footer {
  position: relative;
  top: 250px;
}

#footer.a {
  text-decoration: none;
  color: #000
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
